body {
 margin: 0;
}

.container {
	width: 500px;
	height: 730px;
	font: Georgia, "Times New Roman", Times, serif;
	border-width: 1px;
	border-style: solid;
	border-color: #0033ff;
	margin: 0 auto;
	padding: 0;
}

.player-profile {
	position: relative;
	height: 25px;
}

.player-profile img {
	width: 100%;
}

.row {
	margin-top: 4px;
}

.center-text {
	position: absolute;
	margin-top: -47px;
}

.avatar {
	float: left;
	width: 120px;
	height: 100px;
}

.avatar img {
  padding-left: 13px;
  padding-right: 15px;
}

.profile {
	float: left;
	margin-left: -20px;
	width: 390px;
	height: 100px;
	overflow:scroll;	
}

.profile ul {
	padding-left: 10px;
	list-style-type: none;
}

.clear-profile {
	clear: both;
}

.fact {
	margin-top: -7px;
	margin-left: 3px;
}
.fact h4 {
	margin-left: 4px;
}

.facts {
  list-style: none;
}

.facts li{
  margin-left: -5px;
  padding: 2px;
  line-height: 16px;
  margin-right: 40px;
}

.fact ul {
	margin-top: -3px;
}

.facts li:before {
	content: url("images/pic_star.png");
}

.act__inner {
margin-top: 60px;
}

.next {
	margin-top: 0px;
}

.act__inner img {
	position: relative;
  width: auto;
  padding-left: 2px;
  padding-right: 2px;
}

.act__inner ul {
	position: absolute;
	list-style-type: none;
	margin-top: -55px;
  margin-left: -20px;
}

.activitys a {
	text-decoration-line: none;
}

.activitys p {
  position: absolute;
  margin-top: -15px;
  font-size: smaller;
  margin-left: 55px;
}

.your-comment {
	margin-top: 20px;
}

.your-comment p {
	text-align: center;
	font-size: larger;
	margin-bottom: 0px;

}

.comment__label {
	width: 106px;
}

.comment__input input {
	width: 130px;
	height: 18px;
	border-style: solid;
	border-color: #ececec;
	border-width: 1px;
}

.comment textarea {
	border-color: #ececec;
}

table {
	margin-left: 2px;
	margin-top: -3px;
}